@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap");

// default

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #2b303a;
	font-family: "Rajdhani", sans-serif;
	color: #ececec;
	user-select: none;
}

ul {
	list-style-type: none;
}

// container

.wrapper {
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	width: 80vw;
	margin: 0 auto;
}

// header

.logo-full {
	cursor: pointer;
	width: 20.8rem;
	margin: 2.75vh 0;
	overflow: visible;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	li {
		font-size: 1.1rem;
		opacity: 0.8;
		letter-spacing: 0.2rem;
	}
}

// main-trooper

.main-trooper {
	position: relative;
	img {
		width: 70%;
	}
}

// footer

footer {
	padding: 2vh 0;
	background: #383e4a;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	a {
		text-decoration: none;
		color: #ececec;
		opacity: 0.2;
	}
}

.social-item {
	width: 1.5rem;
	margin-left: 1rem;
}
.git {
	width: 1.2rem;
}
