.desktop-show {
	display: none;
}
.tablet-show {
	display: none;
}

//tablet

@media only screen and (min-width: 50rem) {
	.tablet-show {
		display: initial;
	}
	.tablet-hide {
		display: none;
	}

	.container {
		width: 75vw;
	}

	.logo {
		width: 22rem;
		img {
			width: 100%;
		}
	}

	header {
		margin-bottom: 22vh;
	}

	.main-trooper {
		width: 50rem;
		margin-bottom: 22vh;
	}
	.social img {
		height: 1.6rem;
		margin-left: 4rem;
	}
}

// desktop

@media only screen and (min-width: 90rem) {
	.desktop-hide {
		display: none;
	}
	.desktop-show {
		display: initial;
	}
	.mobile-show {
		display: none;
	}

	.container {
		width: 70%;
		max-width: 136rem;
	}
	header .container {
		margin: 0 auto;
		flex-direction: column;
	}
	.logo {
		width: 60rem;
		margin-top: 5vh;
		margin-bottom: 7.6vh;
	}

	nav {
		height: 0;
	}
	.nav-bar {
		clip-path: none;
		position: static;
		background: none;
		display: flex;
		flex-direction: row;
		height: 0;
		li {
			height: 0;
			width: 25%;
			font-size: 2.2rem;
		}

		margin-bottom: 9.3vh;
	}

	.main-trooper {
		width: 52.6rem;
		margin-bottom: 13.8vh;
	}

	.social img {
		height: 2rem;
		margin-left: 7rem;
	}
}
