@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2b303a;
  font-family: "Rajdhani", sans-serif;
  color: #ececec;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

header .container {
  margin-left: 0 auto;
  margin: 2.75vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar {
  text-align: right;
  position: fixed;
  background-color: #48505d;
  width: 60vw;
  right: 0;
  top: 0;
  height: 100vh;
  -webkit-clip-path: circle(0% at 100% 0);
          clip-path: circle(0% at 100% 0);
}

.nav-bar .exit {
  cursor: pointer;
  margin: 3.5vh;
  margin-bottom: 5vh;
}

.nav-bar li {
  cursor: pointer;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  font-size: 1.5rem;
}

.main-trooper img {
  width: 100%;
}

footer {
  padding: 2vh 0;
  background: #24282f;
}

footer .container {
  text-align: right;
}

footer a {
  opacity: 0.75;
}

.social img {
  height: 1.5rem;
  margin-left: 1rem;
}

.desktop-show {
  display: none;
}

.tablet-show {
  display: none;
}

@media only screen and (min-width: 500px) {
  .tablet-show {
    display: initial;
  }
  .tablet-hide {
    display: none;
  }
  .logo {
    width: 22rem;
  }
  .logo img {
    width: 100%;
  }
  .main-trooper img {
    width: 40rem;
  }
  .social img {
    height: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .desktop-hide {
    display: none;
  }
  .desktop-show {
    display: initial;
  }
  .mobile-show {
    display: none;
  }
  .container {
    width: 40%;
  }
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
  }
  .logo {
    width: 60rem;
  }
  .nav-bar {
    position: static;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 0;
    margin-top: 8.5rem;
  }
  .nav-bar li {
    width: 25%;
    font-size: 2.2rem;
  }
  .main-trooper img {
    width: 50rem;
  }
  .social img {
    height: 2rem;
    margin-left: 7.4rem;
  }
  footer {
    padding: 3rem;
  }
}

.menu,
.logo-small,
.logo-large {
  cursor: pointer;
}

.nav-bar li {
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

.nav-bar li:hover {
  background-color: #24282f;
}

@-webkit-keyframes flow {
  from {
    -webkit-clip-path: circle(0% at 100% 0);
            clip-path: circle(0% at 100% 0);
  }
  to {
    -webkit-clip-path: circle(110% at 100% 0);
            clip-path: circle(110% at 100% 0);
  }
}

@keyframes flow {
  from {
    -webkit-clip-path: circle(0% at 100% 0);
            clip-path: circle(0% at 100% 0);
  }
  to {
    -webkit-clip-path: circle(110% at 100% 0);
            clip-path: circle(110% at 100% 0);
  }
}

.flow {
  -webkit-animation: flow 2s;
          animation: flow 2s;
  -webkit-clip-path: circle(110% at 100% 0);
          clip-path: circle(110% at 100% 0);
}
/*# sourceMappingURL=style.css.map */