@import "_main.scss";
@import "_responsive.scss";

// animations

.menu,
.logo-small,
.logo-large {
	cursor: pointer;
}

.nav-bar li:hover {
	background-color: $highlight;
}

@keyframes flow {
	from {
		clip-path: circle(0% at 100% 0);
	}
	to {
		clip-path: circle(110% at 100% 0);
	}
}

.flow {
	animation: flow 2s;
	clip-path: circle(110% at 100% 0);
}
