@import "_main.scss";
@import "_responsive.scss";

// animations

.menu,
.logo-small,
.logo-large {
	cursor: pointer;
}

.nav-bar {
	li {
		transition: background-color 0.5s ease-in-out;
	}
	li:hover {
		background-color: $background;
	}
}

.menu,
.exit,
.social img {
	transition: transform 0.1s;
}
.menu:hover,
.exit:hover,
.social img:hover {
	transform: scale(1.25);
}

@keyframes flow {
	from {
		clip-path: circle(0% at 100% 0);
	}
	to {
		clip-path: circle(110% at 100% 0);
	}
}

.flow {
	animation: flow 2s;
	clip-path: circle(110% at 100% 0);
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
